In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kachiry,KZ,2020-04-17 01:19:01,53.07,76.10,47.52,62,14,5.75
1,1,Punta Arenas,CL,2020-04-17 01:14:08,-53.15,-70.92,50.00,87,75,8.05
2,2,Touros,BR,2020-04-17 01:19:01,-5.20,-35.46,75.20,100,40,3.36
3,3,Namibe,AO,2020-04-17 01:19:01,-15.20,12.15,75.13,61,0,6.26
4,4,Busselton,AU,2020-04-17 01:19:01,-33.65,115.33,55.99,91,64,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Punta Arenas,CL,2020-04-17 01:14:08,-53.15,-70.92,50.00,87,75,8.05
2,2,Touros,BR,2020-04-17 01:19:01,-5.20,-35.46,75.20,100,40,3.36
3,3,Namibe,AO,2020-04-17 01:19:01,-15.20,12.15,75.13,61,0,6.26
4,4,Busselton,AU,2020-04-17 01:19:01,-33.65,115.33,55.99,91,64,1.01
5,5,Hami,CN,2020-04-17 01:19:01,42.80,93.45,63.81,22,99,9.22
7,7,Mar Del Plata,AR,2020-04-17 01:19:01,-38.00,-57.56,62.01,100,16,3.36
8,8,Cayenne,GF,2020-04-17 01:17:49,4.93,-52.33,75.20,100,95,7.05
10,10,Port Alfred,ZA,2020-04-17 01:19:01,-33.59,26.89,59.00,79,0,3.00
12,12,Kapaa,US,2020-04-17 01:19:01,22.08,-159.32,82.40,69,20,12.75
16,16,Flinders,AU,2020-04-17 01:19:01,-34.58,150.86,73.99,33,6,16.11

In [12]:
preferred_cities_df.count()

City_ID       367
City          367
Country       365
Date          367
Lat           367
Lng           367
Max Temp      367
Humidity      367
Cloudiness    367
Wind Speed    367
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.notnull().sum()

City_ID       367
City          367
Country       365
Date          367
Lat           367
Lng           367
Max Temp      367
Humidity      367
Cloudiness    367
Wind Speed    367
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1    Punta Arenas      CL     50.00 -53.15  -70.92
2          Touros      BR     75.20  -5.20  -35.46
3          Namibe      AO     75.13 -15.20   12.15
4       Busselton      AU     55.99 -33.65  115.33
5            Hami      CN     63.81  42.80   93.45
7   Mar Del Plata      AR     62.01 -38.00  -57.56
8         Cayenne      GF     75.20   4.93  -52.33
10    Port Alfred      ZA     59.00 -33.59   26.89
12          Kapaa      US     82.40  22.08 -159.32
16       Flinders      AU     73.99 -34.58  150.86

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping")

Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Punta Arenas,CL,50.00,-53.15,-70.92,Hotel Dreams Del Estrecho
2,Touros,BR,75.20,-5.20,-35.46,INN NEW HORIZON
3,Namibe,AO,75.13,-15.20,12.15,Chik-Chik Namibe
4,Busselton,AU,55.99,-33.65,115.33,Observatory Guest House
5,Hami,CN,63.81,42.80,93.45,Laoyutang Resort
...,...,...,...,...,...,...
541,Brownwood,US,71.60,31.71,-98.99,La Quinta Inn & Suites by Wyndham Brownwood
542,Sembakung,ID,80.73,3.82,117.25,
544,La Primavera,CO,87.73,5.49,-70.41,La Riviera Hotel Colonial
545,Lata,PT,57.99,40.16,-8.33,Casa Maquia
546,Kasempa,ZM,63.45,-13.46,25.83,Miracle Guest House

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))