In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2020-04-15 06:18:11,-54.80,-68.30,42.80,100,75,8.05
1,1,Semnan,IR,2020-04-15 06:25:41,35.57,53.40,54.68,38,10,3.83
2,2,Sampit,ID,2020-04-15 06:25:41,-2.53,112.95,91.15,59,29,1.05
3,3,Russell,US,2020-04-15 06:25:42,32.35,-85.20,55.40,66,1,9.17
4,4,Vostok,RU,2020-04-15 06:18:45,46.49,135.88,44.13,40,52,9.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Butaritari,KI,2020-04-15 06:15:11,3.07,172.79,83.55,80,45,15.10
11,11,Carnarvon,AU,2020-04-15 06:18:14,-24.87,113.63,84.20,45,48,21.92
12,12,Saint-Philippe,RE,2020-04-15 06:18:19,-21.36,55.77,82.40,69,10,27.51
13,13,Hilo,US,2020-04-15 06:17:32,19.73,-155.09,75.20,78,90,3.36
14,14,Bambous Virieux,MU,2020-04-15 06:18:20,-20.34,57.76,80.60,83,75,17.22
17,17,Kapaa,US,2020-04-15 06:18:22,22.08,-159.32,75.20,88,90,6.93
22,22,Avarua,CK,2020-04-15 06:16:13,-21.21,-159.78,75.20,78,86,3.36
24,24,Cockburn Town,TC,2020-04-15 06:18:40,21.46,-71.14,78.39,82,1,17.90
28,28,Marsh Harbour,BS,2020-04-15 06:25:43,26.54,-77.06,75.63,85,74,16.75
32,32,Arlit,NE,2020-04-15 06:25:43,18.74,7.39,82.27,12,0,6.67

In [13]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.notnull().sum()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
5        Butaritari      KI     83.55   3.07  172.79
11        Carnarvon      AU     84.20 -24.87  113.63
12   Saint-Philippe      RE     82.40 -21.36   55.77
13             Hilo      US     75.20  19.73 -155.09
14  Bambous Virieux      MU     80.60 -20.34   57.76
17            Kapaa      US     75.20  22.08 -159.32
22           Avarua      CK     75.20 -21.21 -159.78
24    Cockburn Town      TC     78.39  21.46  -71.14
28    Marsh Harbour      BS     75.63  26.54  -77.06
32            Arlit      NE     82.27  18.74    7.39

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping")

Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping

In [23]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Butaritari,KI,83.55,3.07,172.79,Isles Sunset Lodge
11,Carnarvon,AU,84.20,-24.87,113.63,Hospitality Carnarvon
12,Saint-Philippe,RE,82.40,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
13,Hilo,US,75.20,19.73,-155.09,Hilo Hawaiian Hotel
14,Bambous Virieux,MU,80.60,-20.34,57.76,Casa Tia Villa
...,...,...,...,...,...,...
596,Isangel,VU,80.33,-19.55,169.27,Volcano Sea View Tree House
600,Jalu,LY,75.81,29.03,21.55,Jalu Hotel
603,Maumere,ID,83.44,-8.62,122.21,Sylvia Hotel
604,Road Town,VG,79.00,18.42,-64.62,"ZINGARA 76ft Catamaran, full crew-all included"
606,Kavaratti,IN,89.60,10.57,72.64,Bismillah Hotel And Lodging

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))